
Source/.vs/TundraExploration/FileContentIndex/503f7ca8-5983-4b45-aa2a-b9a9d429f12d.vsidx
Source/.vs/TundraExploration/FileContentIndex/9bd9139d-1743-4fd4-b402-e22b1db8252e.vsidx
Source/.vs/TundraExploration/FileContentIndex/b8224b19-1543-4a85-93db-6fc64f9e6208.vsidx
Source/.vs/TundraExploration/FileContentIndex/read.lock
Source/.vs/TundraExploration/v17/.suo
Source/bin/Debug/Assembly-CSharp-firstpass.dll
Source/bin/Debug/Assembly-CSharp.dll
Source/bin/Debug/I18N.dll
Source/bin/Debug/I18N.MidEast.dll
Source/bin/Debug/I18N.Other.dll
Source/bin/Debug/I18N.Rare.dll
Source/bin/Debug/I18N.West.dll
Source/bin/Debug/Ionic.Zip.dll
Source/bin/Debug/KSPAssets.dll
Source/bin/Debug/KSPAssets.XmlSerializers.dll
Source/bin/Debug/KSPTrackIR.dll
Source/bin/Debug/Mono.Cecil.dll
Source/bin/Debug/TDx.TDxInput.dll
Source/bin/Debug/TundraExploration.dll
Source/bin/Debug/TundraExploration.pdb
Source/bin/Debug/Unity.Analytics.DataPrivacy.dll
Source/bin/Debug/Unity.Analytics.StandardEvents.dll
Source/bin/Debug/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.dll
Source/bin/Debug/Unity.Timeline.dll
Source/bin/Debug/UnityEngine.AccessibilityModule.dll
Source/bin/Debug/UnityEngine.AIModule.dll
Source/bin/Debug/UnityEngine.AndroidJNIModule.dll
Source/bin/Debug/UnityEngine.AnimationModule.dll
Source/bin/Debug/UnityEngine.ARModule.dll
Source/bin/Debug/UnityEngine.AssetBundleModule.dll
Source/bin/Debug/UnityEngine.AudioModule.dll
Source/bin/Debug/UnityEngine.ClothModule.dll
Source/bin/Debug/UnityEngine.ClusterInputModule.dll
Source/bin/Debug/UnityEngine.ClusterRendererModule.dll
Source/bin/Debug/UnityEngine.CoreModule.dll
Source/bin/Debug/UnityEngine.CrashReportingModule.dll
Source/bin/Debug/UnityEngine.DirectorModule.dll
Source/bin/Debug/UnityEngine.dll
Source/bin/Debug/UnityEngine.DSPGraphModule.dll
Source/bin/Debug/UnityEngine.GameCenterModule.dll
Source/bin/Debug/UnityEngine.GridModule.dll
Source/bin/Debug/UnityEngine.HotReloadModule.dll
Source/bin/Debug/UnityEngine.ImageConversionModule.dll
Source/bin/Debug/UnityEngine.IMGUIModule.dll
Source/bin/Debug/UnityEngine.InputLegacyModule.dll
Source/bin/Debug/UnityEngine.InputModule.dll
Source/bin/Debug/UnityEngine.JSONSerializeModule.dll
Source/bin/Debug/UnityEngine.LocalizationModule.dll
Source/bin/Debug/UnityEngine.ParticleSystemModule.dll
Source/bin/Debug/UnityEngine.PerformanceReportingModule.dll
Source/bin/Debug/UnityEngine.Physics2DModule.dll
Source/bin/Debug/UnityEngine.PhysicsModule.dll
Source/bin/Debug/UnityEngine.ScreenCaptureModule.dll
Source/bin/Debug/UnityEngine.SharedInternalsModule.dll
Source/bin/Debug/UnityEngine.SpriteMaskModule.dll
Source/bin/Debug/UnityEngine.SpriteShapeModule.dll
Source/bin/Debug/UnityEngine.StreamingModule.dll
Source/bin/Debug/UnityEngine.SubsystemsModule.dll
Source/bin/Debug/UnityEngine.TerrainModule.dll
Source/bin/Debug/UnityEngine.TerrainPhysicsModule.dll
Source/bin/Debug/UnityEngine.TextCoreModule.dll
Source/bin/Debug/UnityEngine.TextRenderingModule.dll
Source/bin/Debug/UnityEngine.TilemapModule.dll
Source/bin/Debug/UnityEngine.UI.dll
Source/bin/Debug/UnityEngine.UIElementsModule.dll
Source/bin/Debug/UnityEngine.UIModule.dll
Source/bin/Debug/UnityEngine.UNETModule.dll
Source/bin/Debug/UnityEngine.UnityAnalyticsModule.dll
Source/bin/Debug/UnityEngine.UnityConnectModule.dll
Source/bin/Debug/UnityEngine.UnityWebRequestAssetBundleModule.dll
Source/bin/Debug/UnityEngine.UnityWebRequestAudioModule.dll
Source/bin/Debug/UnityEngine.UnityWebRequestModule.dll
Source/bin/Debug/UnityEngine.UnityWebRequestTextureModule.dll
Source/bin/Debug/UnityEngine.UnityWebRequestWWWModule.dll
Source/bin/Debug/UnityEngine.VehiclesModule.dll
Source/bin/Debug/UnityEngine.VFXModule.dll
Source/bin/Debug/UnityEngine.VideoModule.dll
Source/bin/Debug/UnityEngine.VRModule.dll
Source/bin/Debug/UnityEngine.WindModule.dll
Source/bin/Debug/UnityEngine.XRModule.dll
Source/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Source/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Source/obj/Debug/TundraExploration.csproj.AssemblyReference.cache
Source/obj/Debug/TundraExploration.csproj.CopyComplete
Source/obj/Debug/TundraExploration.csproj.CoreCompileInputs.cache
Source/obj/Debug/TundraExploration.csproj.FileListAbsolute.txt
Source/obj/Debug/TundraExploration.dll
Source/obj/Debug/TundraExploration.pdb
Source/.vs/TundraExploration/FileContentIndex/01501f19-4e5f-4126-9492-877752d2a695.vsidx
Source/.vs/TundraExploration/FileContentIndex/1b00a121-641e-478e-8160-9eaf2ad557df.vsidx
Source/.vs/TundraExploration/FileContentIndex/274429a6-d0ad-4198-abd2-51189f002ef3.vsidx
Source/.vs/TundraExploration/FileContentIndex/e4107c1e-de9a-413a-9394-9114e3e5f93f.vsidx
Source/.vs/TundraExploration/FileContentIndex/4fb62ae6-8b08-4f6c-a091-8331fd6b620c.vsidx
