// Rodan v2
@PART[TE_18_DRAGONV2_POD|TE_18_DRAGONV2_TRUNK|TE_18_DRAGONV2_HEATSHIELD]:NEEDS[TweakScale]
{
	%MODULE[TweakScale]
	{
		type = stack
		defaultScale = 2.5
	}
}

//  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  
// Gigan XL
@PART[TE_21_DXL_Cargo|TE_21_DXL_Docking|TE_21_DXL_Storage]:NEEDS[TweakScale]
{
	%MODULE[TweakScale]
	{
		type = stack
		defaultScale = 2.5
	}
}

//  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  
// Falcon 1

@PART[TE_F1_PayloadFairing|TE_F1_S*_Tank|TT_21_Rideshare_Adapter_03125|TT_21_Rideshare_Adapter_TOP|TT_21_Rideshare_Adapter_0625]:NEEDS[TweakScale]
{
	%MODULE[TweakScale]
	{
		type = stack
		defaultScale = 1.25
	}
}
@PART[TE_F1_Interstage]:NEEDS[TweakScale]
{
	#@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] {}
	%MODULE[TweakScale]
	{
		type = stack
		defaultScale = 1.25
	}
}
@PART[TE_F1_S*_Engine]:NEEDS[TweakScale]
{
	#@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] {}
	%MODULE[TweakScale]
	{
		type = stack
		defaultScale = 1.25
	}
}

//  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  
// Falcon 9

@PART[TE_19_F9_Fairing_Adapter|TE_19_F9_S*_Tank|TE_FH_Decoupler|TE_19_FH_NoseCone]:NEEDS[TweakScale]
{
	%MODULE[TweakScale]
	{
		type = stack
		defaultScale = 2.5
	}
}
@PART[TE_19_F9_S1_Interstage]:NEEDS[TweakScale]
{
	#@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] {}
	%MODULE[TweakScale]
	{
		type = stack
		defaultScale = 2.5
	}
}
@PART[TE_19_F9_Fairing|TE_21_F9_Extended_Fairing]:NEEDS[TweakScale]
{
	%MODULE[TweakScale]
	{
		type = free_square
	}
}
@PART[TE_19_F9_S*_Engine]:NEEDS[TweakScale]
{
	#@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] {}
	%MODULE[TweakScale]
	{
		type = stack
		defaultScale = 2.5
	}
}

//  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  
// Gigan

@PART[TE_19_C-Dragon_Pod|TE_19_C-Dragon_Heatshield|TE_19_C-Dragon_Trunk|TE_19_C_Dragon_Decoupler]:NEEDS[TweakScale]
{
	%MODULE[TweakScale]
	{
		type = stack
		defaultScale = 2.5
	}
}
@PART[TE_19_C-Dragon_Nosecone]:NEEDS[TweakScale]
{
	%MODULE[TweakScale]
	{
		type = stack
		defaultScale = 1.25
	}
}
@PART[TE_CargoV2_Panel|TE_19_C_Dragon_Solar_Shield]:NEEDS[TweakScale]
{
	%MODULE[TweakScale]
	{
		type = free_square
	}
}

//  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  
// Mk4
@PART[TE2_19_SS_Crew_Pod]:NEEDS[TweakScale]
{
	%MODULE[TweakScale]
	{
		type = stack
		defaultScale = 5.625
		scaleFactors = 5, 5.625, 6.25, 7.5, 10
		scaleNames = 5m, 5.625m, 6.25m, 7.5m, 10m
	}
}
@PART[TE2_19_SH_Interstage]:NEEDS[TweakScale]
{
	#@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] {}
	%MODULE[TweakScale]
	{
		type = stack
		defaultScale = 5.625
		scaleFactors = 2.5, 3.75, 5, 5.625, 6.25, 7.5, 10
		scaleNames = 2.5m, 3.75m, 5m, 5.625m, 6.25m, 7.5m, 10m
	}
}
@PART[TE2_19_SS_CARGO|TE2_19_SS_Fuel_Tank|TE2_19_SH_Tank]:NEEDS[TweakScale]
{
	%MODULE[TweakScale]
	{
		type = stack
		defaultScale = 5.625
		scaleFactors = 2.5, 3.75, 5, 5.625, 6.25, 7.5, 10
		scaleNames = 2.5m, 3.75m, 5m, 5.625m, 6.25m, 7.5m, 10m
	}
}
@PART[TE2_19_SH_HGT|TE2_19_SH_GRIDFIN|TE2_19_SS_FF_L|TE2_19_SS_FF_R|TE2_19_SS_RF_L|TE2_19_SS_RF_R|TE2_19_SS_AFT]:NEEDS[TweakScale]
{
	%MODULE[TweakScale]
	{
		type = free_square
	}
}
@PART[TE2_19_BFS_SL_RAPTOR|TE2_19_SS_RPTR_VAC]:NEEDS[TweakScale]
{
	#@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] {}
	%MODULE[TweakScale]
	{
		type = stack
		defaultScale = 1.25
	}
}
@PART[TE2_19_SH_Engine]:NEEDS[TweakScale]
{
	#@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] {}
	%MODULE[TweakScale]
	{
		type = stack
		defaultScale = 5.625
		scaleFactors = 2.5, 3.75, 5, 5.625, 6.25, 7.5, 10
		scaleNames = 2.5m, 3.75m, 5m, 5.625m, 6.25m, 7.5m, 10m
	}
}