@PART[TE2_19_F9_CGT]:NEEDS[CryoTanks|RationalResources]
{
	IspVac = #$MODULE[ModuleRCSFX]/atmosphereCurve/key,0[1, ]$ // get vac Isp number
	IspASL = #$MODULE[ModuleRCSFX]/atmosphereCurve/key,1[1, ]$ // get ASL Isp number
	
	// set fractions for div operation
	IspMultH2 = 1.46 // 380 / 260 (Chosen Hydrogen Isp over stock LFO RCS Isp)
	IspMultCH4 = 1.15 // 300 / 260 (Chosen Methane Isp over stock LFO Isp)

	// precision sequence to keep div number at 2dp and not let it be 12+dp
	// no longer needed
	// @IspMultH2 += 0.005
	// @IspMultH2 *= 100
	// @IspMultH2 = #$IspMultH2[0,.]$ // regex truncate, unknown behavior but used in RO
	// @IspMultH2 /= 100
	
	// save Isp's
	IspVacH2 = #$IspVac$
	IspASLH2 = #$IspASL$
	@IspVacH2 *= #$IspMultH2$
	@IspASLH2 *= #$IspMultH2$

	IspVacCH4 = #$IspVac$
	IspASLCH4 = #$IspASL$
	@IspVacCH4 *= #$IspMultCH4$
	@IspASLCH4 *= #$IspMultCH4$

	@description ^= :$: <br><#4FBBFF>Fuel switching available.</color>
	MODULE
	{
		name = ModuleB9PartSwitch
		moduleID = RCS
		switcherDescription = RCS Mode
		switcherDescriptionPlural = RCS Modes
		switchInFlight = True
		SUBTYPE
		{
			name = LFO
			title = Kerolox
			primaryColor = ResourceColorLiquidFuel
			secondaryColor = ResourceColorOxidizer
			descriptionDetail = #Uses LiquidFuel + Oxidizer.<br><b>Isp:</b> $/IspASL$ / $/IspVac$ sec.
			MODULE
			{
				IDENTIFIER
				{
					name = ModuleRCSFX
				}
				DATA
				{
					thrusterPower = #$/MODULE[ModuleRCSFX]/thrusterPower$ // thrust will change if the Isp is changed and thrusterPower is not re-declared
					PROPELLANT
					{
						name = LiquidFuel
						ratio = 0.45
						resourceFlowMode = STAGE_PRIORITY_FLOW
					}
					PROPELLANT
					{
						name = Oxidizer
						ratio = 0.55
						resourceFlowMode = STAGE_PRIORITY_FLOW
					}
					#/MODULE[ModuleRCSFX]/atmosphereCurve {}
					@atmosphereCurve
					{
						@key,0[1, ] = #$/IspVac$
						@key,1[1, ] = #$/IspASL$
					}
				}
			}
		}
		SUBTYPE
		{
			name = Hydrolox
			title = Hydrolox
			primaryColor = ResourceColorLqdHydrogen
			secondaryColor = ResourceColorOxidizer
			descriptionDetail = #Uses LqdHydrogen + Oxidizer.<br><b>Isp:</b> <color="yellow">$/IspASLH2$ / $/IspVacH2$</color> sec.
			MODULE
			{
				IDENTIFIER
				{
					name = ModuleRCSFX
				}
				DATA
				{
					thrusterPower = #$/MODULE[ModuleRCSFX]/thrusterPower$
					PROPELLANT
					{
						name = LqdHydrogen
						ratio = 1.5
						resourceFlowMode = STAGE_PRIORITY_FLOW
					}
					PROPELLANT
					{
						name = Oxidizer
						ratio = 0.1
						resourceFlowMode = STAGE_PRIORITY_FLOW
					}
					#/MODULE[ModuleRCSFX]/atmosphereCurve {}
					@atmosphereCurve
					{
						@key,0[1, ] = #$/IspVacH2$
						@key,1[1, ] = #$/IspASLH2$
					}
				}
			}
		}
		SUBTYPE
		{
			name = Methalox
			title = Methalox
			primaryColor = ResourceColorLqdMethane
			secondaryColor = ResourceColorOxidizer
			descriptionDetail = #Uses LqdMethane + Oxidizer.<br><b>Isp:</b> <color="yellow">$/IspASLCH4$ / $/IspVacCH4$</color> sec.
			MODULE
			{
				IDENTIFIER
				{
					name = ModuleRCSFX
				}
				DATA
				{
					thrusterPower = #$/MODULE[ModuleRCSFX]/thrusterPower$
					PROPELLANT
					{
						name = LqdMethane
						ratio = 3
						resourceFlowMode = STAGE_PRIORITY_FLOW
					}
					PROPELLANT
					{
						name = Oxidizer
						ratio = 1
						resourceFlowMode = STAGE_PRIORITY_FLOW
					}
					#/MODULE[ModuleRCSFX]/atmosphereCurve {}
					@atmosphereCurve
					{
						@key,0[1, ] = #$/IspVacCH4$
						@key,1[1, ] = #$/IspASLCH4$
					}
				}
			}
		}
	}
}